<table>
  <thead>
    <tr class="header">
      <% if @references %>
        <th>Master translation [<%= I18n.default_locale %>]</th>
      <% else %>
        <th>Key</th>
      <% end %>
      <th>Content [<%= I18n.locale %>]</th>
      <% if @interpret_admin && @references.nil? %>
        <th style="width:5%">Protected?</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% unless @references %>
      <% @translations.each do |x| %>
        <tr<%= " class='protected'" if x.protected %>>
          <td class='key'><%= x.key %></td>
          <td class="content" id="translation_<%= x.id %>">
            <%= best_in_place x, :value,
                :type => :textarea,
                :path => interpret_translation_path(x),
                :activator => "#translation_#{x.id}",
                :sanitize => false %>
          </td>
          <% if @interpret_admin %>
            <td style="width:5%" class='protection_input' id="protection_<%= x.id %>">
              <%= best_in_place x, :protected,
                  :type => :checkbox,
                  :path => interpret_translation_path(x),
                  :activator => "#protection_#{x.id}"
                  %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <% @references.each do |x| %>
        <% trans = @translations.detect{|y| y.key == x.key} %>
        <tr<%= " id='translation_#{trans.id}'" if trans %><%= " class='protected'" if x.protected %>>
          <td style='width:50%'><%= x.value %></td>
          <td style='width:50%'>
            <% if trans %>
              <%= best_in_place trans, :value,
                  :type => :textarea,
                  :path => interpret_translation_path(trans),
                  :activator => "#translation_#{trans.id}",
                  :sanitize => false %>
            <% else %>
              <%= link_to "[Create missing translation]", new_interpret_translation_translation_path(x) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
