<div id="header">
  <h1>Translations for <%= I18n.locale %></h1>
</div>
<p>
Below are the translations without any particulary key in your application.
That use to be some global names or terms for common use along all the site,
which doesn't belong to any page or section in particulary. To dive into the
rest of your app's contents, navigate using the tree in the left, that shows your
locales structure.
</p>
<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @originals.each do |x| %>
      <tr>
        <td><%= x.key %></td>
        <td><%= best_in_place x, :value, :textarea, [], translation_path(x) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@originals) %>
<%= content_for :sidebar do %>
  <%= render 'interpret/translations/sidebar' %>
<% end %>
