<div id="header">
  <h1>Translations for <%= I18n.locale %></h1>
  <!-- <p><%= link_to "Download", fetch_translations_path %> the current translations for '<%= I18n.locale %>' language as .yml file</p> -->
  <!-- <p>Upload your .yml file for '<%= I18n.locale %>' language</p>
  <p>
  <%= form_tag upload_translations_path, :multipart => true do %>
    <%= label_tag "File:" %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload" %>
  <% end %>
  </p> -->
</div>
<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @translations.each do |x| %>
      <tr>
        <td><%= x.key %></td>
        <td><%= best_in_place x, :value, :textarea %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= content_for :sidebar do %>
  <ul>
    <li>hola</li>
  </ul>
<% end %>