<% interpret_title "Interpret - New translation" %>

<h1>Creating '<%= @translation.key %>'</h1>

<p>
Previous value:
<b>[<%= @reference.locale %>] <%= @reference.value %></b>
</p>
<%= form_for [@reference, @translation], :url => translation_translations_path(@reference) do |f| %>
  <%= f.label :value, "Translation to [#{I18n.locale}]" %>
  <%= f.text_area :value, :value => @translation.value %>
  <%= f.submit %>
<% end %>

<%= link_to "Back", root_path %>
