<% interpret_title "Interpret - Tools" %>

<div class="header">
  <h1>Download the current .yml file for language [ <%= I18n.locale %> ]</h1>
</div>

<p>With the following button you can download a "<%= I18n.locale %>.yml" file with the current translations for this language.</p>

<p>
<%= button_to "Download", export_tools_path, :method => :get %>
</p>

<div class="header">
  <h1>Import translations from a .yml file</h1>
</div>

<p>This action will let you update the translations from a standard .yml file.
All existing translations in that file will be copied into the application,
and if they already exists they will be overwritten.
</p>

<p>
Remember that the first key of the YAML file you're uploading must match the current locale.
</p>

<%= form_tag import_tools_path, :multipart => true do %>
  <%= label_tag "File:" %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload" %>
<% end %>
