<% interpret_title "Interpret - Tools" %>
<% content_for :interpret_content do %>
  <div class="header">
    <h1>Your master language</h1>
  </div>
  <p>
  Currently your primary language is <b><%= I18n.default_locale %></b>. This
  language will be used as a reference for all your translation work, you
  can change it below:
  </p>
  <p><em>TODO</em></p>

  <div class="header">
    <h1>Update contents from yml locale files</h1>
  </div>

  <p>update all your application translatinos from the yml files.<br/>
  </p>
  <%= button_to "Update contents", run_update_interpret_tools_path %>
  <div class="header">
    <h1>Dump .yml contents into database</h1>
  </div>

  <p>With this option you can export all of your *.yml contents into the database backend<br/>
  <b>Be aware!!</b> All of your current database translations will be erased
  </p>

  <% if Rails.env == "production" %>
    <p><b>MY GOD!!! You're in PRODUCTION!! You're sure you wanna do this??</b></p>
  <% end %>

  <p>
  <%= button_to "Run the migration", dump_interpret_tools_path %>
  </p>

  <div class="header">
    <h1>Tools for import/export locale data</h1>
  </div>

  <p><%= link_to "Download", export_interpret_tools_path %> the current translations for '<%= I18n.locale %>' language as .yml file</p>
  <p>Upload your .yml file for '<%= I18n.locale %>' language</p>
  <p>
  <%= form_tag import_interpret_tools_path, :multipart => true do %>
    <%= label_tag "File:" %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload" %>
  <% end %>
<% end %>
