<% unless @unused_translations %>
  <p>There are no useless translations</p>
<% else %>
  <p>There are <%= @unused_translations.size %> translations that exists for
  the [ <%= I18n.locale %> ] language, but DO NOT exists for [ <%= I18n.default_locale %> ].
  You probably want to do something about it.
  </p>

  <table>
    <thead>
      <tr class="header">
        <th>Key</th>
        <th>Value in [ <%= I18n.locale %> ]</th>
        <th>Delete</th>
      </tr>
    </thead>
    <% @unused_translations.each do |trans| %>
      <tr>
        <td><%= trans.key %></td>
        <td><%= trans.value %></td>
        <td>
          <%= link_to "Destroy it", trans, :method => :delete, :confirm => "Are you sure?" %>
        </td>
      </tr>
    <% end%>
  </table>
<% end %>
