<!DOCTYPE html>
<html>
<head>
  <title>Cuca</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  This is the APPLICATION main Layout
  <%= yield %>
  <%= interpret_live_edition %>
</body>
</html>

