!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => I18n.locale }
  %head
    %title= yield :title
    = csrf_meta_tag
    = stylesheet_link_tag "private"    
    /[if lt IE 8 ]
      = stylesheet_link_tag 'ie8', :media => 'screen, projection'

  %body.one_col
    #container
      #login_box
        = yield