<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "interpret_style" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag "best_in_place", "interpret" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="interpret_container">
  <% if flash.any? %>
    <div class="interpret_flash grid_16 <%= flash.keys.first %>">
      <%= flash[:notice] || flash[:alert] %>
    </div>
  <% end %>
  <div class="menu grid_12">
    <%= link_to "Overview", root_path, :class => controller_name == "translations" && action_name == "index" ? "current" : "" %>

    <% if can? :use, :tools%>
      | <%= link_to "Tools", tools_path, :class => controller_name == "tools" ? "current" : "" %>
    <% end%>

    <% if can? :use, :search%>
      | <%= link_to "Search", search_path, :class => controller_name == "search" ? "current" : ""%>
    <% end%>

    <% if can? :read, :missing_translations%>
      | <%= link_to "Missing translations", missing_translations_path, :class => controller_name == "missing_translations" && action_name == "index" ? "current" : ""%>
    <% end%>

    <% if can? :read, :stale_translations%>
      | <%= link_to "Stale translations", stale_translations_path, :class => controller_name == "missing_translations" && action_name == "stale" ? "current" : ""%>
    <% end%>

    <% if can? :read, :blank_translations%>
      | <%= link_to "Blank translations", blank_translations_path, :class => controller_name == "missing_translations" && action_name == "blank" ? "current" : ""%>
    <% end%>

    <% if can? :read, :unused_translations%>
      | <%= link_to "Unused translations", unused_translations_path, :class => controller_name == "missing_translations" && action_name == "unused" ? "current" : ""%>
    <% end%>
    <hr />
  </div>
  <div class="menu grid_4" id='languages_nav'>
    Languages:
    <% Interpret::Translation.available_locales.each do |locale| %>
      <% next unless can? :use, :"interpret_in_#{locale}" %>
      <% opts = {:locale => locale} %>
      <% opts[:key] = params[:key] if params[:key] %>
      <% opts[:value] = params[:value] if params[:value] %>
      <%= link_to locale, opts %>
    <% end %>
    <hr />
  </div>
  <div class="clearfix"></div>
  <div id="sidebar" class="grid_3">
    <%= yield :sidebar %>
  </div>
  <div id="main" class="grid_13">
    <%= yield %>
  </div>
</div>


</body>
</html>


