<div class="application">
  <div class="header">
    <h3><%= t ".title1_html" %></h3>
    <div class="date"><%= t ".date1" %></div>
  </div>
  <div class="content">
    <%= image_tag "pic1.jpg", :class => "picA floatleft" %>
    <p><%= t ".post_1_1_html" %></p>
    <p><%= t ".post_1_2_html" %></p>
  </div>
  <div class="footer">
    <ul>
      <li class="printerfriendly"><%= t "printer" %></li>
      <li class="comments"><%= t "comments" %> (18)</li>
      <li class="readmore"><%= t "read_more" %></li>
    </ul>
  </div>
</div>

<div class="post">
  <div class="header">
    <h3><%= t ".title2" %></h3>
    <div class="date"><%= t ".date2" %></div>
  </div>
  <div class="content">
    <p><%= t ".post_2_1_html" %></p>
    <p><%= t ".post_2_2_html" %></p>
  </div>
  <div class="footer">
    <ul>
      <li class="printerfriendly"><%= t "printer" %></li>
      <li class="comments"><%= t "comments" %> (18)</li>
      <li class="readmore"><%= t "read_more" %></li>
    </ul>
  </div>
</div>

<div class="post">
  <div class="header">
    <h3><%= t ".title3" %></h3>
    <div class="date"><%= t ".date3" %></div>
  </div>
  <div class="content">
    <p><%= t ".post_3_1_html" %></p>
    <p><%= t ".post_3_2_html" %></p>
  </div>
  <div class="footer">
    <ul>
      <li class="printerfriendly"><%= t "printer" %></li>
      <li class="comments"><%= t "comments" %> (18)</li>
      <li class="readmore"><%= t "read_more" %></li>
    </ul>
  </div>
</div>


