<!DOCTYPE html>
<html>
<head>
  <title>Cuca</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
  <div class="grid_3">
    <h2>Sidebar</h2>
    <%= yield :sidebar %>
  </div>
  <div class="grid_13">
    <%= yield %>
  </div>
</div>
</body>
</html>
