<!DOCTYPE html>
<html>
<head>
  <title>INTERPRET - <%= yield :title %></title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag "jquery.purr" %>
  <%= javascript_include_tag "best_in_place" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
  <div class="menu grid_16">
    <%= interpret_section_link_to "Overview", translations_path %> |
    <%= interpret_section_link_to "Tools", interpret_tools_path %> |
    <%= interpret_section_link_to "Search", interpret_search_path %>
    <hr />
  </div>
  <div class="grid_3">
    <h2>Sidebar</h2>
    <%= yield :sidebar %>
  </div>
  <div class="grid_13">
    <%= yield %>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
  /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place()
  });
<% end %>
</body>
</html>
