<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "interpret_style" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag "jquery.purr" %>
  <%= javascript_include_tag "best_in_place" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= yield %>
</body>
</html>

