
<div id="interpret_container">
  <% if flash.any? %>
    <div class="interpret_flash grid_16 <%= flash.keys.first %>">
      <%= flash[:notice] || flash[:alert] %>
    </div>
  <% end %>
  <div class="menu grid_12">
    <%= interpret_section_link_to "Overview", interpret_root_path %> |
    <% unless @interpret_user && !@interpret_admin %>
      <%= interpret_section_link_to "Tools", interpret_tools_path %> |
    <% end %>
    <%= interpret_section_link_to "Search", interpret_search_path %> |
    <%= link_to "Missing translations", interpret_missing_translations_path, :class => controller_name == "missing_translations" && action_name == "index" ? "current" : "" %> |
    <%= link_to "Stale translations", interpret_stale_translations_path, :class => controller_name == "missing_translations" && action_name == "stale" ? "current" : "" %> |
    <%= link_to "Blank translations", interpret_blank_translations_path, :class => controller_name == "missing_translations" && action_name == "blank" ? "current" : "" %> |
    <%= link_to "Unused translations", interpret_unused_translations_path, :class => controller_name == "missing_translations" && action_name == "unused" ? "current" : "" %>
    <hr />
  </div>
  <div class="menu grid_4">
    Languages:
    <% Interpret::Translation.available_locales.each do |locale| %>
      <% opts = {:locale => locale} %>
      <% opts[:key] = params[:key] if params[:key] %>
      <% opts[:value] = params[:value] if params[:value] %>
      <%= link_to locale, opts %>
    <% end %>
    <hr />
  </div>
  <div class="clearfix"></div>
  <div id="sidebar" class="grid_3">
    <%= yield :sidebar %>
  </div>
  <div id="main" class="grid_13">
    <%= yield %>
  </div>
</div>

<% interpret_parent_layout Interpret.layout %>
