<%= render :file => Interpret.layout %>

<div id="interpret_container">
  <div class="menu grid_12">
    <%= interpret_section_link_to "Overview", interpret_root_path %> |
    <%= interpret_section_link_to "Tools", interpret_tools_path %> |
    <%= interpret_section_link_to "Search", interpret_search_path %>
    <hr />
  </div>
  <div class="menu grid_4">
    Languages:
    <% Interpret::Translation.available_locales.each do |locale| %>
      <% opts = {:locale => locale} %>
      <% opts[:key] = params[:key] if params[:key] %>
      <%= link_to locale, opts %>
    <% end %>
    <hr />
  </div>
  <div class="clearfix"></div>
  <div id="sidebar" class="grid_3">
    <%= yield :sidebar %>
  </div>
  <div id="main" class="grid_13">
    <%= yield :interpret_content %>
  </div>
</div>

