<% interpret_title "Interpret - Search" %>

<div id="header">
  <h1>Search translations</h1>
</div>

<div id="search">
  <p>Enter a search term for the key and/or the value of the translation</p>

  <%= form_tag interpret_search_path do %>
    <%= label_tag "key", "Key value" %>
    <br />
    <%= text_field_tag "key" %>
    <br />

    <%= label_tag "value", "Translation text" %>
    <br />
    <%= text_field_tag "value" %>
    <br />

    <%= submit_tag "SEARCH" %>

  <% end %>

  <% content_for :sidebar do %>
    <h2>Search</h2>
    <p>
      You can use this search feature to look into all the translations. Can be filtered by language, key and phrase.
    </p>
  <% end %>
</div>

