<% content_for :title do %>
  Search translations
  <%= "by " unless params[:key].blank? && params[:value].blank? %>
  <%= params[:key] unless params[:key].blank? %>
  <%= "and " unless params[:key].blank? || params[:value].blank? %>
  <%= params[:value] unless params[:value].blank? %>
<% end %>

<div id="header">
  <h1>Search translations</h1>
</div>

<%= render 'interpret/translations/listing' %>

<% content_for :sidebar do %>
  <h2>Search</h2>
  <p>
    <%= @translations.size %> results found.
  </p>
  <div id="side_search">
    <%= form_tag search_path do %>
      <%= label_tag "key", "Key value" %>
      <br />
      <%= text_field_tag "key", params[:key] %>
      <br />

      <%= label_tag "value", "Translation text" %>
      <br />
      <%= text_field_tag "value", params[:value] %>
      <br />

      <%= submit_tag "SEARCH" %>

    <% end %>
  </div>
<% end %>
